@import "tailwindcss";

@font-face {
  font-family: "Light";
  src: url("./assets/Fonts//Switzer-Light.woff") format("woff2");
}

@font-face {
  font-family: "Regular";
  src: url("./assets/Fonts/Switzer-Regular.woff2") format("woff2");
}



body{
  overflow: hidden;
}

/* .text-mask {
  background: url("./assets/Videos/CreativeBgVideo.mp4"); 
  background-size: cover;

  
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

 
  mix-blend-mode: screen;
} */

/* .line-mask {
  overflow: hidden;
}

.line-text {
  display: inline-block;
} */
