@import "tailwindcss";
 


/* .text-mask {
  background: url("./assets/Videos/CreativeBgVideo.mp4"); 
  background-size: cover;

  
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;

 
  mix-blend-mode: screen;
} */



