@import "tailwindcss";

@font-face {
  font-family: "Light";
  src: url("./assets/Fonts//Switzer-Light.woff") format("woff2");
}

@font-face {
  font-family: "Regular";
  src: url("./assets/Fonts/Switzer-Regular.woff2") format("woff2");
}

* {
  cursor: none;
}

body {
  overflow-x: hidden;
}
